.selection li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    line-height: 5em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.selection li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.selection li:hover {
    background-color: #e6e6e6;
}
