#NextSection {
    float: center;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}