.sidenav {
    height: auto; 
    width: 20%;
    position: fixed;
    z-index: 1;
    top: auto;
    left: 8px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border: gray 1px solid;
    border-radius: 3px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}
  
.sidenav a:hover {
    background-color: red;
    color: black;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

fieldset {
    background-color: black;
    border: 3px solid gray;
    padding: 10px;
    margin: 0;
}

fieldset legend {
    background-color: gray;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid black;
}